index.html
<html>
  <head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>Designing GitLab&rsquo;s User Experience - GitLab</title>
    <link class="favicon" href="https://assets.gitlab-static.net/assets/favicon-075eba76312e8421991a0c1f89a89ee81678bcde72319dd3e8047e2a47cd3a42.ico" rel="shortcut icon" type="image/x-icon">
    <link href="assets/styles/css/screen.css" rel="stylesheet" type="text/css">
    <script src="assets/scripts/jquery-3.2.1.min.js"></script>
    <script src="assets/scripts/jquery.validate.min.js"></script>
    <script src="assets/scripts/registration-form-validation.js"></script>
    <script src="assets/libraries/bootstrap-4.0.0-beta.3-dist/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
        $("a#more-information-toggle").click(function() {
          $(this).toggleClass("expanded");
        });
      });
    </script>
  </head>
  <body>
    <div class="wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="column-primary col-12 col-md-7 col-lg-5 offset-lg-1 text-light">
            <header>
              <div class="row">
                <div class="col-6">
                  <a href="http://about.gitlab.com">
                    <img alt="GitLab" src="assets/media/images/svg/gitlab-logo.svg">
                  </a>
                </div>
                <div class="col-6">
                  <a class="btn btn-success float-right d-md-none" href="#registration" id="register-cta">Register</a>
                </div>
              </div>
            </header>
            <div class="title-container">
              <div class="row">
                <div class="col-12">
                  <h1>Designing GitLab&rsquo;s User Experience</h1>
                </div>
              </div>
            </div>
            <div class="description-container">
              <div class="row">
                <div class="col-12">
                  <p class="lead">GitLab is the leading developer collaboration platform. Register now to learn the science behind how our UX team is bringing the intuitive way people work into our platform.</p>
                  <span class="collapse" id="more-information-container">
                    <p>User experience (UX) affects every interaction a user has with a product. It can make or break the adoption of a website or application and influence how, or which, features are built. As users of their own design, GitLab&rsquo;s UX team faces unique advantages and challenges when it comes to understanding and crafting the best possible user experience.</p>
                    <p>How does GitLab&rsquo;s UX team work to solve the challenge of creating software that spans the entire software development lifecycle? In this webcast, UX Lead Allison Whilden and UX Researcher Sarah O&rsquo;Donnell share:</p>
                    <ul>
                      <li>How they make design decisions, including their research and feedback process.</li>
                      <li>What it means to be users of their own design and how they balance that perspective with their technical expertise.</li>
                      <li>The pivotal challenge&mdash;creating an experience that satisfies many different kinds of users and work-styles.</li>
                      <li>Insight into our ongoing survey and how we plan to use the results.</li>
                    </ul>
                    <p>Register now to learn how our UX team balances behavior, flow, and fun to constantly improve GitLab&rsquo;s UI and UX every month.</p>
                  </span>
                  <a aria-controls="#more-information-container" aria-expanded="false" class="btn btn-outline-light btn-sm" data-toggle="collapse" href="#more-information-container" id="more-information-toggle" role="button">Read</a>
                </div>
              </div>
            </div>
            <div class="metadata-container">
              <div class="row">
                <div class="col-12 col-sm-6">
                  <div class="date-container">
                    <div class="media">
                      <img alt="Date" src="assets/media/images/svg/calendar-icon.svg">
                    </div>
                    <div class="info">
                      <h2>Date</h2>
                      <span>January 19th, 2018</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="time-container">
                    <div class="media">
                      <img alt="Time" src="assets/media/images/svg/clock-icon.svg">
                    </div>
                    <div class="info">
                      <h2>Time</h2>
                      <span>10:15am PST</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="presenter-container">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                      <h2>Meet the Presenter</h2>
                      <div class="bio">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      </div>
                      <div class="title">
                        <img alt="Allison Whilden" class="avatar" src="assets/media/images/jpg/allison-whilden-avatar.jpg">
                        <h3>Allison Whilden</h3>
                        <h4>UX Lead</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column-secondary col-12 col-md-5 col-lg-4 offset-lg-1">
            <div class="card" id="registration">
              <div class="card-header">
                <h2>Registration</h2>
                <small class="text-muted">Register now to for access to exclusive webcasts from GitLab.</small>
              </div>
              <div class="card-body">
                <form action="" id="registration-form" name="registration-form">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-12">
                            <label for="first-name-input">Name*</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 col-sm-6">
                            <input class="form-control" id="first-name-input" name="firstname" placeholder="First name..." type="text">
                          </div>
                          <div class="col-12 col-sm-6">
                            <input class="form-control" id="last-name-input" name="lastname" placeholder="Last name..." type="text">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="email-address-input">Email*</label>
                        <input class="form-control" id="email-address-input" name="email" placeholder="e.g. email@address.com" type="email">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="company-name-input">Organization*</label>
                        <input class="form-control" id="organization-name-input" name="organization" placeholder="e.g. Acme, Inc." type="text">
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="company-name-input">Title</label>
                        <input class="form-control" id="title-input" name="title" placeholder="e.g. Manager" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="country-input">Country*</label>
                        <select class="form-control" id="country-input" name="country">
                          <option value="">Select country...</option>
                          <option value="Canada">Canada</option>
                          <option value="United States">United States</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" id="notification-preference-input" type="checkbox" value="">
                          <label class="form-check-label" for="notification-preference-input">Notify me about future webcasts.</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group submit">
                        <input class="btn btn-success btn-lg btn-block" type="submit" value="Register">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="card-footer">
                <small class="text-muted">By registering you will be subscribed to GitLab&rsquo;s twice-monthly newsletter.</small>
              </div>
            </div>
            <span class="legal">
              <small>&copy; Copyright 2018 GitLab Inc.</small>
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

index.haml
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title Designing GitLab&rsquo;s User Experience - GitLab
    %link.favicon{:rel => "shortcut icon", :type => "image/x-icon", :href => "https://assets.gitlab-static.net/assets/favicon-075eba76312e8421991a0c1f89a89ee81678bcde72319dd3e8047e2a47cd3a42.ico"}

    -# Styles
    
    -# Styles > Screen
    %link{:rel => "stylesheet", :type => "text/css", :href => "assets/styles/css/screen.css"}  
  
    -# Scripts
    
    -# Scripts > jQuery
    %script{:src => "assets/scripts/jquery-3.2.1.min.js"}
    
    -# Scripts > jQuery Validate
    %script{:src => "assets/scripts/jquery.validate.min.js"}
    
    -# Scripts > Registration Form Validation
    %script{:src => "assets/scripts/registration-form-validation.js"}
    
    -# Scripts > Bootstrap
    %script{:src => "assets/libraries/bootstrap-4.0.0-beta.3-dist/js/bootstrap.min.js"}
    
    :javascript
      $(document).ready(function(){
        $("a#more-information-toggle").click(function() {
          $(this).toggleClass("expanded");
        });
      });

  %body  
    .wrapper
      .container-fluid     
        .row
          .column-primary.col-12.col-md-7.col-lg-5.offset-lg-1.text-light
            %header
              .row 
                .col-6
                  %a{:href => "http://about.gitlab.com"}
                    %img{:src => "assets/media/images/svg/gitlab-logo.svg", :alt => "GitLab"}
                
                .col-6
                  %a#register-cta.btn.btn-success.float-right.d-md-none{:href => "#registration"} Register
            
            .title-container
              .row
                .col-12
                  %h1 Designing GitLab&rsquo;s User Experience
            
            .description-container
              .row
                .col-12
                  %p.lead GitLab is the leading developer collaboration platform. Register now to learn the science behind how our UX team is bringing the intuitive way people work into our platform.
                  
                  %span#more-information-container.collapse
                    %p User experience (UX) affects every interaction a user has with a product. It can make or break the adoption of a website or application and influence how, or which, features are built. As users of their own design, GitLab&rsquo;s UX team faces unique advantages and challenges when it comes to understanding and crafting the best possible user experience.
                    
                    %p How does GitLab&rsquo;s UX team work to solve the challenge of creating software that spans the entire software development lifecycle? In this webcast, UX Lead Allison Whilden and UX Researcher Sarah O&rsquo;Donnell share:
                    
                    %ul
                      %li How they make design decisions, including their research and feedback process.
                      
                      %li What it means to be users of their own design and how they balance that perspective with their technical expertise.
                      
                      %li The pivotal challenge&mdash;creating an experience that satisfies many different kinds of users and work-styles.
                      
                      %li Insight into our ongoing survey and how we plan to use the results.
                    
                    %p Register now to learn how our UX team balances behavior, flow, and fun to constantly improve GitLab&rsquo;s UI and UX every month.
                  
                  %a#more-information-toggle.btn.btn-outline-light.btn-sm{"data-toggle" => "collapse", :href => "#more-information-container", "role" => "button", "aria-expanded" => "false", "aria-controls" => "#more-information-container"} Read
                  
            .metadata-container
              .row
                .col-12.col-sm-6
                  .date-container
                    .media
                      %img{:src => "assets/media/images/svg/calendar-icon.svg", :alt => "Date"}
                    
                    .info
                      %h2 Date
                      %span January 19th, 2018
                      
                .col-12.col-sm-6
                  .time-container
                    .media
                      %img{:src => "assets/media/images/svg/clock-icon.svg", :alt => "Time"}
                      
                    .info
                      %h2 Time             
                      %span 10:15am PST        
            
            .presenter-container
              .row
                .col-12
                  .card
                    .card-body
                      %h2 Meet the Presenter
                      
                      .bio
                        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      
                      .title
                        %img.avatar{:src => "assets/media/images/jpg/allison-whilden-avatar.jpg", :alt => "Allison Whilden"}
                        
                        %h3 Allison Whilden
                        %h4 UX Lead
                
          .column-secondary.col-12.col-md-5.col-lg-4.offset-lg-1
            .card#registration
              .card-header
                %h2 Registration
                
                %small.text-muted Register now to for access to exclusive webcasts from GitLab.
                
              .card-body                        
                %form#registration-form{:name => "registration-form", :action => ""}
                  .row
                    .col-12
                      .form-group
                        .row
                          .col-12
                            %label{:for => "first-name-input"} Name*
                            
                        .row
                          .col-12.col-sm-6
                            %input#first-name-input.form-control{:type => "text", :placeholder => "First name...", :name => "firstname"}
                            
                          .col-12.col-sm-6
                            %input#last-name-input.form-control{:type => "text", :placeholder => "Last name...", :name => "lastname"}
                    
                  .row
                    .col-12 
                      .form-group
                        %label{:for => "email-address-input"} Email*
                        %input#email-address-input.form-control{:type => "email", :placeholder => "e.g. email@address.com", :name => "email"}
                        
                  .row
                    .col-12.col-sm-6
                      .form-group
                        %label{:for => "company-name-input"} Organization*
                        %input#organization-name-input.form-control{:type => "text", :placeholder => "e.g. Acme, Inc.", :name => "organization" }
                    
                    .col-12.col-sm-6
                      .form-group
                        %label{:for => "company-name-input"} Title
                        %input#title-input.form-control{:type => "text", :placeholder => "e.g. Manager", :name => "title"}
                  
                  .row
                    .col-12 
                      .form-group
                        %label{:for => "country-input"} Country*
                        %select#country-input.form-control{:name => "country"}
                          %option{:value => ""} Select country...
                          %option{:value => "Canada"} Canada
                          %option{:value => "United States"} United States
                          
                  .row
                    .col-12
                      .form-group 
                        .form-check
                          %input#notification-preference-input.form-check-input{:type => "checkbox", :value => ""}
                          %label.form-check-label{:for => "notification-preference-input"} Notify me about future webcasts.
                            
                  .row
                    .col-12
                      .form-group.submit
                        %input.btn.btn-success.btn-lg.btn-block{:type => "submit", :value => "Register"}
                                          
              .card-footer
                %small.text-muted By registering you will be subscribed to GitLab&rsquo;s twice-monthly newsletter.
                  
            %span.legal 
              %small &copy; Copyright 2018 GitLab Inc.
